/* ITEM DETAIL */
/* CHECKOUT  */
/* CART */
/* CONTACT US */

body {
  margin: 50px;  
}

/* WELCOME */
#welcome-top {
  background-image: url(https://s1.postimg.org/5aru6cjxsf/covalence-store-home-hero.jpg);
  background-size: cover;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

#welcome-drop {
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	background: RGBA(0, 0, 139, .1);
	/* border-radius: 10px; */
  width: 100%;
  height: 15%;
    /* text-align: center; */
}

#the {
  text-align: left;
  text-size: 60px;
}

#store {
  text-align: right;
  text-size: 60px;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {}

a:active{}


/*MERCH PAGE ( DEFAULT HOME)*/
#home-merch {
  background-image: url(https://s1.postimg.org/97vyshzclb/covalence-store-home.jpg);
  background-size: cover;
  width: 100%;
  height: 60%;
  /* background-position: 0% 100% 100% 0%;   */
  background-position: center left;
  
}


/* GENERAL */
.jumbotron {
  background: RGBA(255, 255, 255, 1);;
  color: white;
  margin: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-height: 20px;
}
.item-box {
  background: RGBA(0, 0, 139, .6);
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin: 10px;
}
#header-logo {
  float: top;
}

#showcase {
  background-image: url(https://i.ytimg.com/vi/BYdMgFWYUto/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  /* border-radius: 10px; not working*/
  height: 100vh;
}
.wrapper {
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  display: grid;
  grid-gap: 15px;
}

#id {
  padding-top: 5%;
}


h1 {
  font-size: 45px;
  color: white;
	
}
h5 {
  color: white;
}
.input-label {
  color: white;
}
p.contactus2{
  text-align: center;
  color:white;
}
p.contactus{
  color:white;
}
h2.contactus{
  text-align: center;
  color:white;
}
