/* WELCOME */
/* MERCH AND APPAREL */
/* ITEM DETAIL */
/* CHECKOUT  */
/* CART */
.jumbotron {
  background: RGBA(255, 255, 255, .5);;
  color: white;
}
#showcase {
  background-image: url(https://i.ytimg.com/vi/BYdMgFWYUto/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.wrapper {
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  display: inline-grid;
  padding: 5% 5% 5% 5%;
  justify-content: space-between;
  align-content: space-evenly;
}

#id {
  padding-top: 5%;
}

.page-header {
  border-top: none !important; 
}

h1 {
  font-size: 45px;
  color: white;
	
}
h5 {
  color: white;
}
.input-label {
  color: white;
}
p.contactus2{
  text-align: center;
  color:white;
}
p.contactus{
  color:white;
}
h2.contactus{
  text-align: center;
  color:white;
}
#welcome-page:link {
	color: white;
}
#welcome-page {
  /* padding: 5% 20% 5% 20%; */
	/* margin: 10%;
	margin-top: 1%; */
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	background: RGBA(0, 0, 139, .6);
	/* border-radius: 10px; */
    width: 100%;
    height: 100%;
    /* text-align: center; */
}

#the {
  text-align: left;
  text-size: 60px;
}

#store {
  text-align: right;
  text-size: 60px;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {}

a:active{}


/*Checkout form*/
form.my-form{
position: relative;
width: 500px;
left: 30%;
color: white;
}
/* End Checkout Form Styling */