<!-- NAVBAR (SEE ABOUTUS.HTML, STILL UNDER EDIT, COPY & PASTE UPON COMPLETION) -->


<!-- CHECKOUT CONTROLLER -->
<div class="page-header row">
    <h1 class="col-md-12">CHECKOUT</h1>
</div>
<!-- CART CONTROLLER BINDING -->
<div ng-controller="CheckoutController" ng-repeat="c in cart">
    <img src="{{ c.imageurl }}" width="300" height="300" ng-href="/checkout">
    <h3>{{ c.title }}</h3>
    <p>{{ c.price }}</p>
</div>

<div ng-controller="CheckoutController">
    <!-- html form -->
    <form action="charge()">
        <label class="item item-input">
            <span class="input-label">Card number</span>
            <input type="text" size="20" ng-model="FormData.number" placeholder="4242 4242 4242 4242" />
        </label>

        <label class="item item-input">
            <span class="input-label">Exp. Mth (MM)</span>
            <input type="text" size="2" ng-model="FormData.exp_month">
        </label>

        <label class="item item-input">
            <span class="input-label">Exp. Year (YYYY)</span>
            <input type="text" size="4" ng-model="FormData.exp_year">
        </label>

        <label class="item item-input">
            <span class="input-label">Sec. Code (CVC)</span>
            <input type="text" size="4" ng-model="FormData.cvc">
        </label>
    </form>
</div>

<div class="padding center">
    <button class="button button-block button-balanced" ng-click="processPurchase()">Submit</button>
</div>