<!-- NAVBAR -->

        <div class="jumbotron jumbotron-fluid">
                    <a href="/products/merch"> <img id="header-logo" src="https://s1.postimg.org/6boi8sj1kf/Screen_Shot_2017-10-25_at_9.18.50_PM.png" alt=""> </a>
        </div>        
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                       <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                    </button>
                    
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="/products/merch">MERCH</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products/apparel">APPAREL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">CONTACT</a>
                        </li>
                        <li>
                            <a href="/checkout">CART ICON<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                    
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        
        
        
        
        <div id="shopping-cart"></div>




        
<!-- CHECKOUT CONTROLLER -->

<div ng-repeat="s in shoppingCart">
<img src="{{ s.imageurl }}" width="300" height="300" ng-href="/checkout">
<h3>{{ s.title }}</h3>
<p>{{ s.price }}</p>
</div>

<h5 id="pay-logo">PAYMENTS ACCEPTED: Visa MC Amex Discover IMAGE logos</h1>

<div ng-controller="CheckoutController">
    <!-- html form -->
    <form action="charge()">
        <label class="item item-input">
            <span class="input-label">Card number</span>
            <input type="text" size="20" ng-model="FormData.number" placeholder="4242 4242 4242 4242" />
        </label>

        <label class="item item-input">
            <span class="input-label">Exp. Mth (MM)</span>
            <input type="text" size="2" ng-model="FormData.exp_month">
        </label>

        <label class="item item-input">
            <span class="input-label">Exp. Year (YYYY)</span>
            <input type="text" size="4" ng-model="FormData.exp_year">
        </label>

        <label class="item item-input">
            <span class="input-label">Sec. Code (CVC)</span>
            <input type="text" size="4" ng-model="FormData.cvc">
        </label>
    </form>

</div>

<div class="padding center">
    <button class="button button-block button-balanced" ng-click="processPurchase()">Submit</button>
</div>